<a href="https://colab.research.google.com/github/moeuu/colab/blob/main/algorithm/2/circle_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 総当たり戦スケジュールを出力するcircle method

総当たり戦のスケジュールを出力するcircle methodを以下にcircle_methodとして定義する．
関数circle_methodの引数はチーム名のリストである．
Circle methodについて詳しくは

* 宮代隆平，総当りリーグ戦とグラフ理論，オペレーションズ・リサーチ，Vol. 52 (2007)，pp. 547--550.

を参照されたい．
Circle method自体は単純なものであるが，コードにすると意外とわかりにくい．

In [ ]:
def circle_method(T):
    n = len(T)
    c = [T[i] for i in range(n)]
    p = {}
    for t in T:
        p[t] = []
    for d in range(1, n):
        for i in range(n):
            p[c[i]].append(c[n - i - 1])
        cc = ['' for i in range(n)]
        for i in range(1, n - 1):
            cc[i] = c[i - 1]
        cc[0] = c[n - 2]
        for i in range(n - 1):
            c[i] = cc[i]
    return p

試しに，10チームの名前のリストを引数としてスケジュールを作ってみる．

In [ ]:
T = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
p = circle_method(T)
p

{'A': ['J', 'H', 'F', 'D', 'B', 'I', 'G', 'E', 'C'],
 'B': ['I', 'G', 'E', 'C', 'A', 'H', 'F', 'D', 'J'],
 'C': ['H', 'F', 'D', 'B', 'I', 'G', 'E', 'J', 'A'],
 'D': ['G', 'E', 'C', 'A', 'H', 'F', 'J', 'B', 'I'],
 'E': ['F', 'D', 'B', 'I', 'G', 'J', 'C', 'A', 'H'],
 'F': ['E', 'C', 'A', 'H', 'J', 'D', 'B', 'I', 'G'],
 'G': ['D', 'B', 'I', 'J', 'E', 'C', 'A', 'H', 'F'],
 'H': ['C', 'A', 'J', 'F', 'D', 'B', 'I', 'G', 'E'],
 'I': ['B', 'J', 'G', 'E', 'C', 'A', 'H', 'F', 'D'],
 'J': ['A', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B']}

対戦スケジュールは，キーがそれぞれのチーム名，値が対戦相手の辞書として返されるが，そのままでは見にくい．
見やすいようにpandasの表として表示してみる．

In [ ]:
import pandas as pd
df = pd.DataFrame(p)
df.T

   0  1  2  3  4  5  6  7  8
A  J  H  F  D  B  I  G  E  C
B  I  G  E  C  A  H  F  D  J
C  H  F  D  B  I  G  E  J  A
D  G  E  C  A  H  F  J  B  I
E  F  D  B  I  G  J  C  A  H
F  E  C  A  H  J  D  B  I  G
G  D  B  I  J  E  C  A  H  F
H  C  A  J  F  D  B  I  G  E
I  B  J  G  E  C  A  H  F  D
J  A  I  H  G  F  E  D  C  B

各行がチーム名，各列が日付に対応している．
$t$行目の$d$列は「チーム$t$の$d$日目の対戦相手のチーム名」である．
日付が0始まりだが気にしないことにする．